@using umbraco.MacroEngines
@inherits umbraco.MacroEngines.DynamicNodeContext

@*
This script displays blog posts.
Takes two arguments:
 - take (Number of posts to display)
 - skip (Index to start at)
*@

@{   
    int skip = 0; //Default is to start at index 0 in collection
    int take = 10; //Default is to render 10 posts
    
    if(!String.IsNullOrEmpty(Parameter.skip)) {
        skip = int.Parse(Parameter.skip);
    }
    
    if (!String.IsNullOrEmpty(Parameter.take))
    {
        take = int.Parse(Parameter.take);
    }
    
    //Fetch Frontpage node (root node)
    var frontPageNode = Model.AncestorOrSelf("Frontpage");
    
    //Fetch children of FrontPage of document type "Post".
    var posts = frontPageNode.Children.Where("NodeTypeAlias == \"Post\"").Skip(skip).Take(take);

    var currentNode = Model;
}

@foreach(var post in posts)
{
    <div class="post-@(post.Id) post type-post status-publish format-standard hentry category-uncategorized" id="post-@(post.Id)">
        <h1><a href="@post.NiceUrl">@post.heading</a></h1>
        <p class="author">@post.CreateDate.ToString("dd.MM.yy") - <a href="" rel="author">@post.WriterName</a></p>
        <p class="lead">@post.lead</p>
    </div>
}